.booking-form-section {
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    overflow: hidden;
}

.left-section h1 {
    font-size: 70px;
}

.booking-form-section input {
    padding: 13px 15px;
    border-radius: 4px;
    width: 100%;
    margin: 5px 0;
    background-color: gainsboro;
}

.booking-form-section .left-date {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.booking-form-section .right-date {
    width: 48%;
    overflow: hidden;
}

.booking-form-section select {
    width: 100%;
    padding: 15px 0;
    border-radius: 4px;
    background-color: gainsboro;
    margin: 5px 0;
}


.booking-form-section input[type="submit"] {
    margin-top: 20px;
    background-color: #F9A51A;
    border: 2px solid #F9A51A;
}


.left-section h1,
.left-section p {
    color: white;
}

.booking-form-section .error {
    color: red;
}
